<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel = "stylesheet" href = "/a/css/bootstrap.css">
<link rel = "stylesheet" href = "/a/css/w3css.css">
<link rel = "stylesheet" href = "/a/css/site.css">
<link rel = "stylesheet" href = "/a/css/recipe.css">
<title>Tiny  Kitchen</title>
</head>
<!-- AJS Controller used -->
<body   style = "background-color:lightgray">
   <nav class="navbar navbar-inverse">
       <div class="container-fluid">
           <div class="navbar-header">
               <div class=" myfont" style = 'font-size:40px;'><i>MY Tiny Kitchen</i></div>
           </div>
           <ul class="nav navbar-nav navbar-left" style = 'margin-left:100px;'>
               <li><a href="/tiny_kit">Intro</a></li>
               <li><a href="/upload">Upload Dishes</a></li>
               <li><a href="/view_recipe">View Recipes</a></li>
               <li class = 'active'><a href="/review">View Reviews</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right" style = 'margin-right:40px;'>
               <li><a href="/main">Home Page</a></li>
               <li><a href="/">Logout</a></li>
           </ul>
        </div>
</nav> 
<div ng-app = 'myapp' ng-controller = 'reviews_Ctrl'>
            <div class = 'w3-card-4 w3-white card_review'>
                <h2 class = 'text-center color_navy'>All Old Reviews</h2>
                <div id = 'reviews'></div>
            </div>
</div>'
<script src="/a/js/jquery.js"></script>
<script src="/a/js/bootstrap.js"></script>
<script src="/a/js/angular.js"></script>
<script src="/a/js/recipe.js"></script> 
</body>
</html>