<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset = "UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- All CSS Files-->
<link rel = "stylesheet" href = "/a/css/bootstrap.css">
<link rel = "stylesheet" href = "/a/css/w3css.css">
<link rel = "stylesheet" href = "/a/css/search.css">
<link rel = "stylesheet" href = "/a/css/site.css">
<!--  For Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Search Page</title>
</head>
<body>
<!-- Header-->
  <header class="bg-image-header">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 text-left" style="margin-top:20px;margin-left:20px" >
              <div class="myfont"><span style="font-size:45px">&Hscr;</span>APPY FOODING</div>
          </div>
          <div style="margin-top:40px">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="input-group">
                  <span class="input-group-addon" ></span>
                  <select class="form-control text-center" style="magin-left:15px" disabled>
                     <option>New Delhi</option>
                  </select>
              </div>
          </div>
             <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style = 'margin-left:30px;'>
               <i class="fa fa-facebook-official icons-alter" style="color:navy;font-size:25px;"></i>
                <i class="fa fa-linkedin-square icons-alter" style="color:brown;font-size:25px;"></i>
               <i class="fa fa-twitter-square icons-alter" style="color:#00CED1;font-size:25px;"></i>
          </div>
          </div>
      </div>
       <!-- Navigation Bar containing quick searches and localities link and home page and it should be fixed -->
</header>
  <!-- Navigation Bar-->
   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <div class=" myfont"><i>Delhi Hotels</i></div>
           </div>
           <ul class="nav navbar-nav navbar-left" style = 'margin-left:100px;'>
               <li class = 'active'><a href="/collect_delhi">Collections</a></li>
               <li><a href="/quick_delhi">Quick Searches</a></li>
               <li><a href="/orders">My Orders</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right" style = 'margin-right:40px;'>
               <li><a href="/home">Home Page</a></li>
               <li><a href="/">Logout</a></li>
           </ul>
        </div>
</nav>      
  <!-- Body Part-->
  <article>
   <!-- Collections Heading & an Image full size-->
     <div class="row" style="margin-top:30px">
         <div class="col-lg-12 col-md-10">
              <h1  class="text-center" style="color:#003399;">Our Collections of the best hotels in the town!!</h1>
         </div>
   </div>
     <div class="row">
       <div  class="col-lg-10 col-md-10">
           <img src="/a/images/collection1.jpg" alt="Collection-Demo" class="image-collection" />
       </div>
     </div>
    <!-- Collections of all types-- 4 *3 = 12 pics-->
     <section>
         <div class="row">
         <h2  class="text-left head-collection">Trending Now</h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color" style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-10">
                            <img src="/a/images/hotel1.jpg" alt="Trending Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Flying Kukkad</h4>
                            <h5 class="img-description">ARDEE CITY, GURGAON<br>North Indian, Continental, Lebanese</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest1">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel5.jpg" alt="Trending Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Chaina Ram Sindhi</h4>
                            <h5 class="img-description">CHANDNI CHOWK, NEW DELHI<br>Mithai, Street Food</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest2">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4 col-xs-10">
                <div class="well bg-color" style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel9.jpg" alt="Trending Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Parikrama</h4>
                            <h5 class="img-description">CONNAUGHT PLACE, NEW DELHI<br>North Indian, Chinese, Mughlai</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest3">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
         <h2  class="text-left head-collection">Newly Opened</h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color" style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel2.jpg" alt="New Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Rabbit Hole</h4>
                            <h5 class="img-description">HAUZ KHAS VILLAGE, NEW DELHI <br>Continental, North Indian, Italian</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest4">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel5.jpg" alt="Newly Opened Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Jazzba</h4>
                            <h5 class="img-description">RAJOURI GARDEN, NEW DELHI<br>North Indian, Asian, Italian</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest5">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel10.jpg" alt="Trending Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">China Chowk</h4>
                            <h5 class="img-description">SUPERMART 1, DLF PHASE 4, GURGAON<br>Chinese</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest3">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
         <h2  class="text-left head-collection">Luxury Dining</h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel3.jpg" alt="Luxury Dining Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">The One Le Meridian</h4>
                            <h5 class="img-description">LE MERIDIEN, JANPATH, NEW DELHI<br>Continental</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest1">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel7.jpg" alt="Luxury Dining Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Akira Back</h4>
                            <h5 class="img-description">JW MARRIOTT NEW DELHI, NEW DELHI<br>Japanese, Korean</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest2">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel11.jpg" alt="Luxury Dining Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Baluchi</h4>
                            <h5 class="img-description">THE LALIT NEW DELHI, BARAKHAMBA ROAD, NEW DELHI<br>Mughlai, North Indian, South Indian</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest5">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
         <h2  class="text-left head-collection">Happy Hours</h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel4.jpg" alt="Happy Hours Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Hunter's Lodge</h4>
                            <h5 class="img-description">CONNAUGHT PLACE, NEW DELHI<br>European, Italian, Chinese, North Indian, Mediterranean</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest1">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel8.jpg" alt="Happy Hours Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">Connexians-Crown Plaza</h4>
                            <h5 class="img-description">CROWNE PLAZA, SECTOR 29, GURGAON<br>Continental</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest5">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="well bg-color " style="margin-left:50px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img src="/a/images/hotel12.jpg" alt="Happy Hours Hotels are here" class="images-collect"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="img-head">52 Janpath</h4>
                            <h5 class="img-description">JANPATH, NEW DELHI<br>American, Italian, North Indian, European, Thai</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 col-sm-6 well well-sm" >
                            <h4 class="text-center"style="font-weight:bold;">Call </h4>
                        </div>
                        <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest3">View in Menu</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
         </div>
   </section>
   <section>
   <h2  class="text-left head-collection" style="margin-top:10px">Other Collections</h2>
   <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel13.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head"style="margin-top: 8px">Romantic</h3>
                           <h5 class="img-description">The perfect spot for a romantic meals</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel14.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head" style="margin-top: 8px">South Indian </h3>
                           <h5 class="img-description">A slice of the South, right here in your city.</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel15.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head" style="margin-top: 8px">Sunday Brunches</h3>
                           <h5 class="img-description">Just about the perfect way to end the week</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
    </div>
   <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel16.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head" style="margin-top: 8px">Biriyanis</h3>
                           <h5 class="img-description">Hyderabadi, Kolkata, Lucknawi...the choice is yours</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel17.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head"style="margin-top: 8px">Breweries </h3>
                           <h5 class="img-description">For the times when bottled brews just do not cut it</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
           <a href=""><div class="well bg-color " style="margin-left:70px">
               <div class="row">
                   <div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 text-center">
                       <img src="/a/images/hotel18.jpg" alt="Trending Hotels are here" class="images"/>
                   </div>
                   <div class="col-lg-7 col-md-12 col-sm-10 col-xs-12">
                       <div class="text-center">
                           <h3 class="img-head"style="margin-top: 8px">Live Music</h3>
                           <h5 class="img-description">The best live music venues in town</h5>
                       </div>
                   </div>
               </div>
           </div></a>
       </div>
        </div>
   </section>
 </article>

<!-- Footer-->

<footer>
    <div class="container text-left">
        <div class="row " >
            <div class="col-m-5 col-lg-3 col-xs-6 ">
                <div class="myfont" style="margin-top:5px" ><i><span style="font-size:45px">&Hscr;</span>APPY FOODING</i></div>
                <ul class="list-group ">
                    <li>About Us</li>
                    <li >Culture</li>
                    <li>Blog</li>
                    <li >Careers</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Fscr;</span>ind Your Favourite</i></div>
                <ul>
                    <li>Code of Conduct</li>
                    <li>Community</li>
                    <li>Verified Users</li>
                    <li>Blogger Help</li>
                    <li>Developers</li>
                    <li>Mobile Apps</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Rscr;</span>estuarants here &</i></div>
                <ul>
                    <li>Add a Restaurant</li>
                    <li>Claim your Listing</li>
                    <li>Business App</li>
                    <li>Business Blog</li>
                    <li>Restaurant Widgets</li>
                    <li>Products for Businesses</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Hscr;</span>APPY FOODING</i></div>
                <ul>
                    <li>Privacy </li>
                    <li>Terms and Conditions</li>
                    <li>API Policy </li>
                    <li>CSR</li>
                    <li>Security</li>
                    <li>Site Map</li>
                </ul>
                    </div>
        </div>
        </div>
</footer>
<!-- All Scripts-->
<script src="/a/js/jquery.js"></script>
<script src="/a/js/bootstrap.js"></script>
<script src="/a/js/angular.js"></script>
</body>
</html>