<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset = "UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- All CSS Files-->
<link rel = "stylesheet" href = "/a/css/bootstrap.css">
<link rel = "stylesheet" href = "/a/css/w3css.css">
<link rel = "stylesheet" href = "/a/css/search.css">
<link rel = "stylesheet" href = "/a/css/site.css">
<!--  For Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Search Page</title>
</head>
<body>
<!-- Header-->
  <header class="bg-image-header">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 text-left" style="margin-top:20px;margin-left:20px" >
              <div class="myfont"><span style="font-size:45px">&Hscr;</span>APPY FOODING</div>
          </div>
          <div style="margin-top:40px">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="input-group">
                  <span class="input-group-addon" ></span>
                  <select class="form-control text-center" style="magin-left:15px" disabled>
                     <option>New Delhi</option>
                  </select>
              </div>
          </div>
             <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style = 'margin-left:30px;'>
               <i class="fa fa-facebook-official icons-alter" style="color:navy;font-size:25px;"></i>
                <i class="fa fa-linkedin-square icons-alter" style="color:brown;font-size:25px;"></i>
               <i class="fa fa-twitter-square icons-alter" style="color:#00CED1;font-size:25px;"></i>
          </div>
          </div>
      </div>
       <!-- Navigation Bar containing quick searches and localities link and home page and it should be fixed -->
</header>
  <!-- Navigation Bar-->
   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <div class=" myfont"><i>Delhi Hotels</i></div>
           </div>
           <ul class="nav navbar-nav navbar-left" style = 'margin-left:100px;'>
               <li><a href="/collect_delhi">Collections</a></li>
               <li class = 'active'><a href="/quick_delhi">Quick Searches</a></li>
               <li><a href="/orders">My Orders</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right" style = 'margin-right:40px;'>
               <li><a href="/home">Home Page</a></li>
               <li><a href="/">Logout</a></li>
           </ul>
        </div>
</nav>      
  <!-- Body Part-->
  <section>
        <div class="row">
        <nav class="col-lg-2 col-md-2 col-sm-4 col-xs-12 navigation-lists">
              <div class="panel-group" id="accordion" style="margin-top:15px">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#cost">Sort By Cost</a>
                        </h4>
                     </div>
                     <div id="cost" class="panel-collapse collapse in">
                         <div class="panel-body">
                             <input type="checkbox" name="cost" value="High" onchange="fun()" checked>High Cost (Above 1000 per 2 people)<br>
                             <input type="checkbox" name="cost" value="Low" onchange="fun()" checked>Low Cost (Below 1000 per 2 people)
                         </div>
                     </div>
                 </div>
                 <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#categories">Sort By Categories</a>
                      </h4>
                  </div>
                  <div id="categories" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <input type="checkbox" name="categories" value="breakfast" onchange="fun()" checked>Breakfast<br>
                          <input type="checkbox" name="categories" value="drinks" onchange="fun()" checked>Drinks<br>
                          <input type="checkbox" name="categories" value="lunch" onchange="fun()" checked>Lunch<br>
                          <input type="checkbox" name="categories" value="dinner" onchange="fun()" checked>Dinner<br>
                          <input type="checkbox" name="categories" value="cafe" onchange="fun()" checked>Cafe<br>
                          <input type="checkbox" name="categories" value="pizza" onchange="fun()" checked>Pizza<br>
                          <input type="checkbox" name="categories" value="snacks" onchange="fun()" checked>Snacks<br>
                          <input type="checkbox" name="categories" value="burger" onchange="fun()" checked>Burger
                     </div>
                  </div>
               </div>
                 <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collection">Sort By Collections</a>
                       </h4>
                   </div>
                   <div id="collection" class="panel-collapse collapse in">
                   <div class="panel-body">
                       <input type="checkbox" name="collections" value="trending" onchange="fun()" checked disabled>Trending Now<br>
                       <input type="checkbox" name="collections" value="new" onchange="fun()"checked disabled>Newly Opened<br>
                       <input type="checkbox" name="collections" value="luxury" onchange="fun()"checked disabled>Luxury Dining<br>
                       <input type="checkbox" name="collections" value="happy hous" onchange="fun()"checked disabled>Happy Hours
                   </div>
                   </div>
               </div>
              </div>
        </nav>
        <!-- Hotel Details Part-->
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
          <div class="well bg-color margins select-options" >
            <div class="row" >
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel11.jpg" alt="New Hotels are here" class="images-quick-search"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                    <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">IHOP</h3>
                        <h5 class="img-description"><span class="img-desc">DLF Cyber City</span><br>
                        Ground Floor, Cyber Hub, DLF Cyber City, Gurgaon
                        </h5>
                    </div>
                </div>
             </div>
            <div class="row">
                <h5>
                <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Cafe, American</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Rs 850 for two</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                <div class="col-lg-8 col-xs-8 grey-text">Breakfasts, Newly Opened</div>
                </h5>
             </div>
            <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest1">View in Menu</a> </h4>
                 </div>
             </div>
           </div>
          <div class="well bg-color margins select-options">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel16.jpg" alt="New Hotels are here" class="images-quick-search"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                    <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Prankster</h3>
                        <h5 class="img-description"><span class="img-desc">Sector29, Gurgaon</span><br>
                        Site 8-10, Sector 29, Gurgaon
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row">
               <h5>
               <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
               <div class="col-lg-7 col-xs-8 grey-text">Drinks American</div>
               <div class="clearfix visible-xs"></div>
               <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
               <div class="col-lg-7 col-xs-8 grey-text">Rs 1250 for two</div>
               <div class="clearfix visible-xs"></div>
               <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
               <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
               <div class="clearfix visible-xs"></div>
               <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
               <div class="col-lg-8 col-xs-8 grey-text">= Microbreweries, Newly Opened</div>
               </h5>
             </div>
            <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest2">View in Menu</a> </h4>
                 </div>
             </div>
          </div> 
          <div class="well bg-color margins select-options" >
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                <img src="/a/images/hotel12.jpg" alt="New Hotels are here" class="images-quick-search"/>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                <div class="text-left"style="margin-left:20px">
                    <h3 class="image-head">The GT Road</h3>
                    <h5 class="img-description"><span class="img-desc">Connaught Place</span><br>
                    M 39, Outer Circle, Connaught Place, New Delhi
                    </h5>
                </div>
               </div>
             </div>
            <div class="row">
                <h5>
                <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                <div class="col-lg-7 col-xs-8 grey-text">North Indian, Afghani, Mughlai</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Rs 850 for two</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                <div class="col-lg-8 col-xs-8 grey-text">Lunches, Trending Now</div>
                </h5>
              </div>
            <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest3">View in Menu</a> </h4>
                 </div>
             </div>
           </div>    
          <div class="well bg-color margins select-options" >
              <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel13.jpg" alt="New Hotels are here" class="images-quick-search"/>
                   </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                     <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Barbeque Nation</h3>
                        <h5 class="img-description"><span class="img-desc">Connaught  Place</span><br>
                        2nd Floor, Munshilal Building, Block N
                        </h5>
                    </div>
                   </div>
                </div>
              <div class="row">
                  <h5>
                  <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                  <div class="col-lg-7 col-xs-8 grey-text">North Indian, Chinese</div>
                   <div class="clearfix visible-xs"></div>
                   <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                   <div class="col-lg-7 col-xs-8 grey-text">Rs 1650 for two</div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                    <div class="col-lg-8 col-xs-8 grey-text">12 Noon to 3 PM, 6:30 PM to 11 PM (Mon-Sun)</div>
                     <div class="clearfix visible-xs"></div>
                     <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                     <div class="col-lg-8 col-xs-8 grey-text">Dinner, Luxury Hotels</div>
                    </h5>
                 </div>
               <div class="row" style="margin-top:15px;">
                   <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                    </div>
                    <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest4">View in Menu</a> </h4>
                    </div>
                  </div>
          </div>
          <div class="well bg-color margins select-options" >
             <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel17.jpg" alt="New Hotels are here" class="images-quick-search"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                   <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Rose Cafe</h3>
                        <h5 class="img-description"><span class="img-desc">Saket</span><br>
                        2, Westend Marg, Saidulajab
                        </h5>
                   </div>
                 </div>
                </div>
             <div class="row">
                <h5>
                <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Cafe, American</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Rs 550 for two</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                <div class="col-lg-8 col-xs-8 grey-text">Coffee, Happy Hours</div>
                </h5>
              </div>
              <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest5">View in Menu</a> </h4>
                 </div>
             </div>
                </div>
          <div class="well bg-color margins select-options" >
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel15.jpg" alt="New Hotels are here" class="images-quick-search"/>
                   </div>
                   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                      <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Diggin</h3>
                         <h5 class="img-description"><span class="img-desc">Anand Lok</span><br>
                          Anand Lok Shopping Centre, Opposite Gargi College,
                          </h5>
                       </div>
                     </div>
                    </div>
                <div class="row">
                 <h5>
                 <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                 <div class="col-lg-7 col-xs-8 grey-text">Italian, Continental, Cafe</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                 <div class="col-lg-7 col-xs-8 grey-text">Rs1150 for two</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                 <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                  <div class="col-lg-8 col-xs-8 grey-text">PizzaTime, Trending</div>
                 </h5>
                    </div>
                   <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest3">View in Menu</a> </h4>
                 </div>
             </div>
                </div>
          <div class="well bg-color margins select-options">
             <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/a/images/hotel14.jpg" alt="New Hotels are here" class="images-quick-search"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                    <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Caterspoint</h3>
                        <h5 class="img-description"><span class="img-desc">DLF Phase3</span><br>
                        S-27/11, DLF Phase 3, Gurgaon
                        </h5>
                    </div>
                </div>
             </div>
              <div class="row">
                <h5>
                <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                <div class="col-lg-7 col-xs-8 grey-text">American, Healthy Food, Continental,</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Rs 450 for two</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                <div class="col-lg-8 col-xs-8 grey-text">8 AM to 11 PM (Mon-Sun)</div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                <div class="col-lg-8 col-xs-8 grey-text">Snacks, Happy Hours</div>
                        </h5>
                    </div>
              <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest1">View in Menu</a> </h4>
                 </div>
             </div>
           </div>
          <div class="well bg-color margins select-options" >
             <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                   <img src="/a/images/hotel18.jpg" alt="New Hotels are here" class="images-quick-search"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                   <div class="text-left"style="margin-left:20px">
                        <h3 class="image-head">Burger King</h3>
                        <h5 class="img-description"><span class="img-desc">Sector 23 ,Noida</span><br>
                        Ground Floor, Cyber Hub, DLF Cyber City,Noida
                        </h5>
                    </div>
                </div>
             </div>
             <div class="row">
                <h5>
                <div class="col-lg-4 col-xs-4 grey-text" >Cuisines:</div>
                <div class="col-lg-7 col-xs-8 grey-text">Burgers, Pizzas, Chinese</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Cost:</div>
                 <div class="col-lg-7 col-xs-8 grey-text">Rs 1250 for two</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Hours:</div>
                 <div class="col-lg-8 col-xs-8 grey-text">8 AM to 9 PM (Mon-Sun)</div>
                 <div class="clearfix visible-xs"></div>
                 <div class="col-lg-4 col-xs-4 grey-text">Featured In:</div>
                  <div class="col-lg-8 col-xs-8 grey-text">Burgers, Newly Opened</div>
                  </h5>
                </div>
             <div class="row" style="margin-top:15px;">
                 <div class="col-lg-6 col-sm-6 well well-sm" >
                    <h4 class="text-center"style="font-weight:bold;">Call </h4>
                 </div>
                 <div class="col-lg-6 col-sm-6 well well-sm"><h4 class="text-center"style="font-weight:bold;" ><a href="/rest4">View in Menu</a> </h4>
                 </div>
             </div>
                </div>
         </div>
        <!-- Other Hotels-->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
           <div class="well bg-color " style="margin-left:30px">
               <div class="row">
                 <div class="col-lg-6 col-md-12  col-xs-6">
                    <img src="/a/images/hotel2.jpg" alt="Trending" class="images2"/><br>
                     <h5 class="text-left" style="margin-top:4px;">Soi 7<br><span style="color:grey">Enjoy Fresh Brewed Beer and Various Live Gigs!</span></h5>
                 </div>
                 <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel1.jpg" alt="Trending" class="images2"/><br>
                      <h5 class="text-left" style="margin-top:4px;">Soda Bottle<br><span style="color:grey">buds with Parsi Cuisine!</span></h5>
                 </div>
               </div>
               <div class="row">
                 <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel3.jpg" alt="Trending" class="images2"/><br>
                     <h5 class="text-left" style="margin-top:4px;">Ticksy<br><span style="color:grey">Craving Pasta? ORDER NOW</span></h5>
                 </div>
                <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel5.jpg" alt="Trending" class="images2"/><br>
                      <h5 class="text-left" style="margin-top:4px;">Circus<br><span style="color:grey">All Day Diner - Restaurant & Bar!</span></h5>
                 </div>
               </div>
               <div class="row">
                 <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel6.jpg" alt="Trending" class="images2"/><br>
                     <h5 class="text-left" style="margin-top:4px;">Soi 7<br><span style="color:grey">Enjoy Fresh Brewed Beer and Various Live Gigs!</span></h5>
                 </div>
                <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel4.jpg" alt="Trending" class="images2"/><br>
                      <h5 class="text-left" style="margin-top:4px;">Bikanerwala<br><span style="color:grey">Mithai, North Indian</span></h5>
                 </div>
               </div>
               <div class="row">
                 <div class="col-lg-6 col-md-12  col-xs-6">
                    <img src="/a/images/hotel8.jpg" alt="Trending" class="images2"/><br>
                     <h5 class="text-left" style="margin-top:4px;">Captain Curry <br><span style="color:grey">Let the Indian inside you enjoy our butter chicken</span></h5>
                 </div>
                <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel7.jpg" alt="Trending" class="images2"/><br>
                      <h5 class="text-left" style="margin-top:4px;">Ricos<br><span style="color:grey">The All New Rico's. Tried us yet</span></h5>
                 </div>
               </div>
               <div class="row">
                 <div class="col-lg-6 col-md-12 col-xs-6">
                    <img src="/a/images/hotel10.jpg" alt="Trending" class="images2"/><br>
                     <h5 class="text-left" style="margin-top:4px;">House Of Commons<br><span style="color:grey">ADDED! 15% off on all orders (Mon-Thu)</span></h5>
                 </div>
                <div class="col-lg-6  col-md-12 col-xs-6">
                    <img src="/a/images/hotel9.jpg" alt="Trending" class="images2"/><br>
                      <h5 class="text-left" style="margin-top:4px;">AMPM Cafe<br><span style="color:grey">Dawn to dusk hangout for the youth!</span></h5>
                 </div>
               </div>
           </div>
        </div>
        </div>
  </section>
<!-- Footer-->
<footer>
    <div class="container text-left">
        <div class="row " >
            <div class="col-m-5 col-lg-3 col-xs-6 ">
                <div class="myfont" style="margin-top:5px" ><i><span style="font-size:45px">&Hscr;</span>APPY FOODING</i></div>
                <ul class="list-group ">
                    <li>About Us</li>
                    <li >Culture</li>
                    <li>Blog</li>
                    <li >Careers</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Fscr;</span>ind Your Favourite</i></div>
                <ul>
                    <li>Code of Conduct</li>
                    <li>Community</li>
                    <li>Verified Users</li>
                    <li>Blogger Help</li>
                    <li>Developers</li>
                    <li>Mobile Apps</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Rscr;</span>estuarants here &</i></div>
                <ul>
                    <li>Add a Restaurant</li>
                    <li>Claim your Listing</li>
                    <li>Business App</li>
                    <li>Business Blog</li>
                    <li>Restaurant Widgets</li>
                    <li>Products for Businesses</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <div class="myfont2" style="margin-top:5px" ><i><span style="font-size:45px">&Hscr;</span>APPY FOODING</i></div>
                <ul>
                    <li>Privacy </li>
                    <li>Terms and Conditions</li>
                    <li>API Policy </li>
                    <li>CSR</li>
                    <li>Security</li>
                    <li>Site Map</li>
                </ul>
                    </div>
        </div>
        </div>
</footer>

<!-- All Scripts-->
<script src="/a/js/jquery.js"></script>
<script src="/a/js/bootstrap.js"></script>
<script src="/a/js/restaurants.js"></script>
</body>
</html>